<!-- container -->
<div class='bg-white position-absolute m-0'
  style="height: 90%; width: 98%; background-image: url('../../../assets/images/homePic.jpeg');background-size: cover;">
  <div class='h-100 w-75 m-auto'>
    <div class='row h-100'>
      <div class="col-md-12 text-center align-self-center">
        <div class="row">
          <div class="col-md-12">
            <img class='imgShadow' src="../../../assets/images/nha.png" width="10%" alt="">
          </div>
        </div>
        <!-- next row -->
        <!-- <div class="row">
          <div class="col-md-12">
            <p class='text-white bold'>National Highway Authority</p>
          </div>
        </div> -->
        <!-- next row -->
        <div class="row">
          <div class="col-md-12  homePage">
            <h1>Fixed Assets Register Module</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end container -->
