<div class="loader" *ngIf="showProgress">Loading...</div>
<br><br>
<div class="containerLogin" *ngIf="!showProgress">
  <section id="formHolder">

    <div class="row">

      <!-- Brand Box -->
      <div class="col-sm-6 brand">
        <!-- <a href="#" class="logo">LOGIX <span>.</span></a> -->

        <div class="heading">
          <img src="../../../../assets/images/nha.png" alt="" width=40% height="40%">
          <!-- <h2>national highway authority</h2> -->
          <p>Fixed Asset Register Module</p>
        </div>

        <div class="success-msg">
          <p>Great! You are one of our members now</p>
          <a href="#" class="profile">Your Profile</a>
        </div>
      </div>


      <!-- Form Box -->
      <div class="col-sm-6 form">

        <!-- Login Form -->
        <div class="login form-peice ">
          <form class="login-form" action="#" method="post">
            <h1>Login</h1>
            <!-- <div class="form-group">
              <label for="loginemail">Email Adderss</label>
              <input type="email" name="loginemail" id="loginemail">
            </div>

            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password" name="loginPassword" id="loginPassword" required>
            </div> -->

            <mat-form-field class='w-100'>
              <mat-label>Login Name</mat-label>
              <input matInput name="emailAddress" [(ngModel)]="emailAddress">
            </mat-form-field>

            <mat-form-field class='w-100'>
              <mat-label>password</mat-label>
              <input matInput type="password" name="loginPassword" (keypress)="getKeyPressed($event)"
                [(ngModel)]="loginPassword">
            </mat-form-field>

            <div class="row">

              <div class="col-md-6">
                <button mat-button class='w-100 noneOutline text-primary'>forget password</button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="warn" class='noneOutline mr-5 w-100' (click)="login()">Login <span
                    class='fa fa-angle-double-right'></span></button>
              </div>
            </div>
          </form>
        </div><!-- End Login Form -->


        <!-- Signup Form -->
        <div class="signup form-peice switched bgLogin" style="background-image: url('../../../../assets/images/road.jpg');-webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;">

          <div>
            <mat-progress-bar class="mt-n4 example-margin" *ngIf="showResetProgress" color="warn" mode="indeterminate"
              value="10" bufferValue="indeterminate">
            </mat-progress-bar>

            <form class="signup-form" action="#" method="post">
              <!-- <h2>Reset Password</h2> -->

              <!-- <div class="form-group">
                <label for="email">Email Adderss</label>
                <input type="email" name="emailAdress" id="email" class="email">
                <span class="error"></span>
              </div> -->

              <!-- <div class="form-group">
                <label for="phone">Phone Number - <small>Optional</small></label>
                <input type="text" name="phone" id="phone">
              </div> -->

              <!-- <div class="form-group">
                <label for="oldPassword">Password</label>
                <input type="password" name="oldPassword" id="password" class="pass">
                <span class="error"></span>
              </div> -->

              <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="pass">
                <span class="error"></span>
              </div>

              <div class="form-group">
                <label for="passwordCon">Confirm Password</label>
                <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                <span class="error"></span>
              </div> -->

              <!-- <mat-form-field class='w-100'>
                <mat-label>email address</mat-label>
                <input matInput name="resetEmailAddress" [(ngModel)]="resetEmailAddress">
              </mat-form-field>

              <mat-form-field class='w-100'>
                <mat-label>old password</mat-label>
                <input matInput type="password" name="resetOldPassword" [(ngModel)]="resetOldPassword">
              </mat-form-field>

              <mat-form-field class='w-100'>
                <mat-label>new password</mat-label>
                <input matInput type="password" name="resetNewPassword" [(ngModel)]="resetNewPassword">
              </mat-form-field>

              <mat-form-field class='w-100'>
                <mat-label>confirm passwoard</mat-label>
                <input matInput type="password" name="resetConfirmPassword" [(ngModel)]="resetConfirmPassword">
              </mat-form-field>

              <div class="CTA">
                <button mat-raised-button color="warn" class='noneOutline mr-5' (click)="resetPassword()">Reset
                  Password</button>
                <a href="#" class="switch">I have an account</a>
              </div> -->
            </form>
          </div>

        </div><!-- End Signup Form -->
      </div>
    </div>

  </section>




</div>
